@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0;}
:root{
    font-size: 10px;
}
.body {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}
.header__block-1 {
    background: #C8A35F;
}
.wrap {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 3rem 0;
    box-sizing: border-box;
}
.header__block-1-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
}
.header__lang-link {
    margin-right: 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.5;
}
.header__lang-link_rus {
   color: #FFFFFF;
   opacity: 1;
}
.mail {
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-decoration: none;
}
.mail__header {
    color: #FFFFFF;
}
.tel {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #FFFFFF;
    text-decoration: none;
}
.header__block-2 {
    height: 10rem;
    background:#2F343A;
}
.header__block-2-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.header__logo {
    position: relative;
    margin-right: 6rem;
    height: 4.6rem;
    width: 16rem;
}
.header__logo::after{
    content: "";
    position: absolute;
    height: 4.6rem;
    border: .1rem solid #F2F2F2;
    left: 19rem;
}
.header__map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;
    opacity: 0.5;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 41rem;
    margin: 0 0 0 auto;
    
}
.menu__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.5;
}
.main {
    background: #2F343A;
}
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url(../img/big-car.jpg) center center / cover no-repeat;    height: 62rem;
    width: 100%;
    padding-top: 9.1rem;
    box-sizing: border-box;
}
.section-1__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 92rem;
    height: 24.5rem;
    border: 1px solid #C8A35F;
}
.title {
    font-size: 6.4rem;
    line-height: 7.5rem;
}
.section-1__title {
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.section-1__text {
    max-width: 77.7rem;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}
.section-1__mouse {
    position: relative;
    top: 1.4rem;
    left: auto;
}
.section-2{
    background: #393F47;
    position: relative;
}
.section-2__wrap {
    display: flex;
    justify-content: space-between;
    height: 56.1rem;
    align-items: center;
    padding-top: 2.5rem;
    position: relative;
    z-index: 1;
}
.section-2__wrap::after{
    content: "";
    height: 100%;
    width: 41rem;
    position: absolute;
    background: #2F343A;
    top: 0;
    left: 37.6rem;
    z-index: -1;
}
.section-2__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 31rem;
    width: 38rem;
    margin-right: 6.7rem;
}
.section-2__title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.9rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-2__title::before{
    content: "";
    position: absolute;
    background: #C8A35F;
    height: .6rem;
    width: 9rem;
    top: -2.5rem;
    left: 0;
}
.section-2__text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    opacity: 0.6;
}
.button {
    width: 22rem;
    height: 5.5rem;
    color: #FFFFFF;
    background: #C8A35F;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 1.4rem;
    box-sizing: border-box;
}
.arrow-wrap{
    width: 16.5rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.arrow{
    display: inline-flex;
    justify-content: space-between;
}
.section-2__arrow_left{
    transform: rotate(180deg);
}
.text__arrow{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
}
.section-3 {
    color: #FFFFFF;
}
.section-3__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 134.5rem;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    box-sizing: border-box;
    height: 50.4rem;
    position: relative;
}
.services__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.services__title::before{
    content: "";
    width: 90px;
    height: 6px;
    background: #C8A35F;
    position: absolute;
    top: 0;
    left: 0;
}
.services__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.services__item {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 128px;
    width: 276px;
    height: 180px;
    box-sizing: border-box;
    background: #393F47 url(../icons/airplane-flight.svg) center 5.5rem / 3rem 3rem no-repeat;
}
.services__item:hover {
    background: #C8A35F url(../icons/airplane-flight-black-eclipse.svg) center 3.5rem / 7rem 7rem no-repeat;
}
 .services__item:nth-child(2){
    margin: 0 .1rem .1rem .1rem ;
}
.services__item:nth-child(3){
    margin-right: .1rem;
}
.services__item:nth-child(5){
    margin: 0 .1rem 0 0;
}
.services__item:nth-child(6){
    margin: 0 .1rem 0 0;
}
.services__item:nth-child(7){
    margin: 0 .1rem 0 0;
}
.services__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
.services__item a {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: #fff; /* Цвет ссылки */
    text-decoration: none;
   }
.about {
    height: 48.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.about::after{
    content: "";
    height: 100%;
    width: 41rem;
    position: absolute;
    background: #393f47;
    top: 0;
    left: 34.6rem;
    z-index: -1;
}
.about__info {
    width: 45.5rem;
    height: 24.5rem;
}
.about__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.about__info::before{
    content: "";
    width: 90px;
    height: 6px;
    background: #C8A35F;
    position: absolute;
    top: 8rem;
    left: 0;
}
.about__text {
    font-size: 16px;
    line-height: 23px;
}
.about__items {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    height: 32rem;
}
.about__item {
    width: 20rem;
    height: 16rem;
    background: #fff;
    box-shadow: inset #c8a35f 0px 0 0.5px 0;
    box-sizing: border-box;
    padding-top: 1.4rem;
}
.about__item:nth-child(4){
    background: url(../img/mini-car.2.jpg) center center / cover no-repeat;
} 
.about__number {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F343A;
}
.about__item-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: .6rem;
}
.about__item-text_xs {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
.about__item-image {
    width: 20rem;
    height: 16rem;
    box-shadow: inset #c8a35f 0px 0 0.5px 0;
}
.section-4 {
    max-width: 192rem;
    height: 45rem;
    margin: 0 auto;
}
.footer {
    background-color: #c8a35f;
    height: 16.1rem;
    padding-top: 6.5rem;
    box-sizing: border-box;
}
.wrap {
}
.footer__wrap {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr 1fr;
     
}
.logo__footer {
}
.footer__contacts {
}
.footer__address {
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
    opacity: 0.8;
}

.footer__mail {
    color: #2F343A;
}
.footer__tel-link {
    text-align: left;
    font-size: 14px;
    line-height: 16px;   
}
.footer__dop-info {
    text-align: center;
}
.footer__dop-info-link{
    text-decoration-line: underline;
    color: #2F343A;
    font-size: 14px;
    line-height: 16px;
}
